In [2]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [3]:
df=pd.read_csv("diabetesdata.csv")
df.head()

   Age FamilyHis Ethni Symptoms Excercise  result
0   12        No     Y       No       Yes       0
1   10        No     Y       No       Yes       0
2   22       yes    No       No        No       0
3   45       yes     Y      yes        No       1
4   30        No    No       No        No       0

In [4]:
inputs=df.drop('result',axis='columns')
target=df['result']

In [5]:
inputs

    Age FamilyHis Ethni Symptoms Excercise
0    12        No     Y       No       Yes
1    10        No     Y       No       Yes
2    22       yes    No       No        No
3    45       yes     Y      yes        No
4    30        No    No       No        No
5    26        No     Y       No       Yes
6    28       yes     Y      yes       Yes
7    21        No    No       No        No
8    56       yes     Y       No       Yes
9    34        No    No       No       Yes
10   34       yes     Y       No       Yes
11   34       yes     Y      yes        No
12   34       yes     Y       No        No
13   45        No    No      yes        No
14   14        No     Y       No       Yes

In [6]:
target

0     0
1     0
2     0
3     1
4     0
5     0
6     1
7     0
8     1
9     0
10    0
11    1
12    2
13    2
14    0
Name: result, dtype: int64

In [7]:
le_FamilyHis=LabelEncoder()
le_Ethni=LabelEncoder()
le_Symptoms=LabelEncoder()
le_Excercise=LabelEncoder()

In [8]:
inputs['le_FamilyHis']=le_FamilyHis.fit_transform(inputs['FamilyHis'])
inputs['le_Ethni']=le_Ethni.fit_transform(inputs['Ethni'])
inputs['le_Symptoms']=le_Symptoms.fit_transform(inputs['Symptoms'])
inputs['le_Excercise']=le_Excercise.fit_transform(inputs['Excercise'])
inputs.head()

,Age,FamilyHis,Ethni,Symptoms,Excercise,le_FamilyHis,le_Ethni,le_Symptoms,le_Excercise
0,12,No,Y,No,Yes,0,1,0,1
1,10,No,Y,No,Yes,0,1,0,1
2,22,yes,No,No,No,1,0,0,0
3,45,yes,Y,yes,No,1,1,1,0
4,30,No,No,No,No,0,0,0,0

In [9]:

inputs_n=inputs.drop(['FamilyHis','Ethni','Symptoms','Excercise'],axis='columns')
inputs_n

    Age  le_FamilyHis  le_Ethni  le_Symptoms  le_Excercise
0    12             0         1            0             1
1    10             0         1            0             1
2    22             1         0            0             0
3    45             1         1            1             0
4    30             0         0            0             0
5    26             0         1            0             1
6    28             1         1            1             1
7    21             0         0            0             0
8    56             1         1            0             1
9    34             0         0            0             1
10   34             1         1            0             1
11   34             1         1            1             0
12   34             1         1            0             0
13   45             0         0            1             0
14   14             0         1            0             1

In [10]:
from sklearn import tree

In [11]:
model=tree.DecisionTreeClassifier()

In [12]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [13]:
model.score(inputs_n,target)

1.0

In [14]:
model.predict([[45,0,0,0,0]])

/home/siraju/.local/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([2])

In [15]:
import pickle

In [16]:
with open('diabetic_model','wb') as f:
    pickle.dump(model,f)

In [17]:
with open('diabetic_model','rb') as f:
    mp=pickle.load(f)

In [18]:
mp.predict([[60,1,0,0,0]])

/home/siraju/.local/lib/python3.8/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1])